/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <3 2>;
            layers = <0>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <26 27>;
            layers = <0>;
        };

        bsp {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 9>;
            layers = <0>;
        };

        ent {
            bindings = <&kp ENTER>;
            key-positions = <32 33>;
            layers = <0>;
        };

        num {
            bindings = <&mo 3>;
            key-positions = <37 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "main";
            bindings = <
&trans  &kp Q  &kp W  &kp F   &kp P      &kp B             &kp J      &kp L            &kp U      &kp Y    &kp SEMICOLON  &trans
&trans  &kp A  &kp R  &kp S   &kp T      &kp G             &kp M      &kp N            &kp E      &kp I    &kp O          &trans
&trans  &kp Z  &kp X  &kp C   &kp D      &kp V             &kp K      &kp H            &kp COMMA  &kp DOT  &kp FSLH       &trans
                      &trans  &lt 2 DEL  &kp LEFT_SHIFT    &kp SPACE  &lt 1 BACKSPACE  &trans
            >;
        };

        sym_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "sym";
            bindings = <
&trans  &kp CAPSLOCK  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp TILDE      &kp CARET  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp GRAVE        &trans
&trans  &kp MINUS     &kp PIPE          &kp EQUAL       &kp UNDERSCORE        &kp DOLLAR     &kp POUND  &sk RCMD               &sk RALT         &sk RCTRL          &sk RSHFT        &trans
&trans  &kp PLUS      &kp ASTERISK      &kp AT_SIGN     &kp SLASH             &kp PERCENT    &trans     &kp BACKSLASH          &kp AMPERSAND    &kp QUESTION       &kp EXCLAMATION  &trans
                                        &trans          &trans                &trans         &trans     &trans                 &trans
            >;
        };

        nav_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "nav";
            bindings = <
&trans  &trans     &trans     &trans    &trans    &trans    &trans    &trans    &trans  &trans     &trans  &trans
&trans  &sk LSHFT  &sk LCTRL  &sk LALT  &sk LCMD  &trans    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans  &trans     &trans     &trans    &trans    &trans    &trans    &trans    &trans  &trans     &trans  &trans
                              &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };

        num_layer {
            bindings = <
&trans  &trans     &trans     &trans    &trans    &trans    &kp C_VOLUME_UP  &kp N7        &kp N8        &kp N9        &kp C_BRIGHTNESS_INC  &trans
&trans  &sk LSHFT  &sk LCTRL  &sk LALT  &sk LCMD  &trans    &kp C_VOL_DN     &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp C_BRI_DEC         &trans
&trans  &trans     &trans     &trans    &trans    &trans    &kp N0           &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans                &trans
                              &trans    &trans    &trans    &trans           &trans        &trans
            >;

            label = "num";
        };
    };
};
